.card__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $ultramarine-blue;
  border: 4px solid $ultramarine-blue;
  border-radius: 8px;

  @include sm {
  }
  @include md {
    font-size: 36px;
  }
  @include lg {
    font-size: 60px;
  }
  @include xl {
    font-size: 72px;
  }
}
