.banner {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;

  @include sm {
    background: url("/src/img/md-banner.png");
    background-size: contain;
    height: 100%;
    min-width: 320px;
    background-repeat: no-repeat;
    background-position: 0 56px;
  }
  @include md {
    background: url("/src/img/md-banner.png");
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 88px;
  }
  @include lg {
    background: url("/src/img/xl-banner.png");
    background-size: contain;
    height: 888px;
    background-repeat: no-repeat;
    background-position: 36.5vw 0;
  }
  @include xl {
    background: url("/src/img/xl-banner.png");
    height: 1141px;
    background-repeat: no-repeat;
    background-position: 41.5vw 0;
  }
}
