.button {
  background-color: lighten($ultramarine-blue, 5%);
  color: rgba($white, 0.75);
  text-decoration: none;
  border-radius: 8px;
  width: 220px;
  height: 48px;
  //padding: 16px 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: rgba($white, 1);
    background-color: $ultramarine-blue;
  }
  @include sm {
    width: 288px;
  }
}
