.nav__item_hide_mob {
  @include sm {
    display: none !important;
  }
  @include md {
    display: inline-block;
  }
  @include lg {
    display: inline-block;
  }
  @include xl {
    display: inline-block;
  }
}
