.logo__caption {
  font-family: "Roboto Regular";
  font-weight: bold;
  text-transform: uppercase;
  width: 70px;
  
  @include sm {
    display: none;
  }
  @include md {
    display: block;
  }
  @include lg {
    display: block;
  }
  @include xl {
    display: block;
  }
}
