.specialty__bg {
  background-repeat: no-repeat;
  position: relative;

  flex-shrink: 0;

  @include sm {
    top: 0px;
    left: -16px;
    max-height: 336px;
    height: 60vw;
    min-width: 320px;
    width: calc(100% + 32px);
    background-image: url("/src/img/specialty-md.png");
    background-size: contain;
  }

  @include md {
    top: 0px;
    left: -44px;
    width: calc(768px + 88px);
    height: 482px;
    background-image: url("/src/img/specialty-md.png");
    background-size: contain;
  }

  @include lg {
    top: 8px;
    left: -160px;
    width: 764px;
    height: 574px;
    background-image: url("/src/img/specialty-xl.jpg");
    background-size: contain;
  }

  @include xl {
    top: 8px;
    left: -210px;
    width: 984px;
    height: 738px;
    background-image: url("/src/img/specialty-xl.jpg");
  }
}