.banner__content {
  @include sm {
    min-width: 258px;
    margin: calc(59vw + 56px) 16px 0 0; // calc(59vw + 56px) 16px 0 16px;
    max-width: 400px;
    height: 180px;
  }
  @include md {
    width: 470px;
    margin: calc(52.7vw + 88px) 0 0 0; // calc(52.7vw + 88px) 0 0 44px;
  }
  @include lg {
    width: 490px;
    margin: 280px 0 0 0;
  }
  @include xl {
    width: 724px;
    margin: 360px 0 0 0;
  }
}
