.footer__link {
  color: inherit;
  text-decoration: none;
  margin-left: 44px;
  transition: color .5s ease;

  @include sm {
    margin-left: 0;
  }

  &:hover {
    color: $white;
  }

  &:hover {
    opacity: 1;
  }
}