@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
//@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/css/solid.css";

@import "./breakpoints";
@import "./variables";
@import "../blocks/**/**/**.scss";

//fonts
/*
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
*/

//@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto Bold/Roboto-Bold.eot");
  src: url("../fonts/Roboto Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto Bold/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto Bold/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Light BETA";
  src: url("../fonts/Inter Light BETA/Inter-Light-BETA.eot");
  src: url("../fonts/Inter Light BETA/Inter-Light-BETA.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter Light BETA/Inter-Light-BETA.woff") format("woff"),
    url("../fonts/Inter Light BETA/Inter-Light-BETA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Italic";
  src: url("../fonts/Inter Italic/Inter-Italic.eot");
  src: url("../fonts/Inter Italic/Inter-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter Italic/Inter-Italic.woff") format("woff"),
    url("../fonts/Inter Italic/Inter-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("../fonts/Inter SemiBold/Inter-SemiBold.eot");
  src: url("../fonts/Inter SemiBold/Inter-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter SemiBold/Inter-SemiBold.woff") format("woff"),
    url("../fonts/Inter SemiBold/Inter-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter Bold/Inter-Bold.eot");
  src: url("../fonts/Inter Bold/Inter-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter Bold/Inter-Bold.woff") format("woff"),
    url("../fonts/Inter Bold/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter Light BETA";
  color: $charcoal-black;
  overflow-x: hidden;
}