.slider__name {
  color: $grey-1;
  font-size: 16px;
  line-height: 19px;

  @include sm {
    margin-top: 24px;
  }
  @include md {
    margin-top: 38px;
  }
  @include lg {
    margin-top: 30px;
  }
  @include xl {
    margin-top: 30px;
  }
}
