.nav__circle {
  font-weight: bold;
  padding: 0 5px;
  height: 16px;
  border-radius: 100px;
  position: relative;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 12px;
  top: -2px;

  @include sm {
    background-color: $ultramarine-blue;
    color: $white;
  }
  @include md {
    background-color: $ultramarine-blue;
    color: $white;
  }
  @include lg {
    background-color: $white;
    color: $ultramarine-blue;
  }
  @include xl {
    background-color: $white;
    color: $ultramarine-blue;
  }
}
