.line {
  height: 1px;
  width: 100%;

  background: rgba($gray-2, 0.4);
  @include sm {
    margin: 48px 0 32px 0;
  }
  @include md {
    margin: 0 0 32px 0;
  }
  @include lg {
    margin: 48px 0 32px 0;
  }
  @include xl {
    margin: 48px 0 32px 0;
  }
}
