.footer__menu {
  min-height: 200px;
  justify-content: space-between;

  @include sm {
    min-height: 352px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  @include md {
    align-items: center;
  }

  @include lg {
    align-items: center;
  }

  @include xl {
    align-items: center;
  }
}