.footer__menu {
  min-height: 200px;
  margin-top: 48px;
  justify-content: space-between;
  @include sm {
    //padding-top: 56px;
    min-height: 352px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start !important;
  }
  @include md {
  }
  @include lg {
  }
  @include xl {
  }
}
