.nav__link_color_black {
  @include sm {
    color: $charcoal-black !important;
  }
  @include md {
    color: $charcoal-black !important;
  }
  @include lg {
    color: $white !important;
  }
  @include xl {
    color: $white !important;
  }
}
