.header {
  margin: 0 auto;

  @include sm {
    min-width: 320px;
    max-width: 620px;
    height: calc(59vw + 56px + 160px);
  }
  @include md {
    min-width: 621px;
    max-width: 768px;
    height: calc(52.7vw + 88px + 200px);
  }
  @include lg {
    max-width: 1440px;
    height: 775px;
  }
  @include xl {
    max-width: 1920px;
    height: 1154px;
  }
}
